<header class="home__header">
    <div class="left__header__content">
        <a href="/" class="purple__title">Crypto<span class="white__title">Lab</span></a>
    </div>

    <div class="center__header__content">
        <input type="text" placeholder="Rechercher sur cryptolab">
    </div>
    <div class="right__header__content">
        <a id="login__button">Sign up</a>
    </div>
</header>