<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Forum</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/notifications.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>

<%- include('header.ejs') %>

<main class="container">
    <h1 class="main__title">Notifications</h1>
    <div class="notifications_list"></div>
</main>
<div id="success-popup" class="hidden"></div>

<script src="/public/js/notifications.js"></script>
</body>
</html>
