<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Forum</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/profile.css">
</head>
<body>

<%- include('header.ejs') %>

<main class="container">
    <div class="user__infos">
        <div class="picture__display"></div>
        <div class="user__infos__container">
            <div class="main__infos"></div>
        </div>
    </div>
    <div class="biography">
        <h1>Biographie</h1>
    </div>
</main>

<script src="/public/js/profile.js"></script>
</body>
</html>
