<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Forum</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/profile.css">
</head>
<body>

<%- include('header.ejs') %>

<main class="container">
    <div class="main__infos">
        <div class="user__picture">
            <img id="user_picture" alt="Photo de profil">
        </div>
        <div class="user__infos">
            <h1 id="user_name">Username</h1>
            <p id="user_created_at">Membre depuis le 01/01/1990</p>
        </div>
    </div>

    <div class="bottom__infos">
        <div class="biography__container">
            <h2>Biographie</h2>
            <p id="user_biography">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.</p>
        </div>
        <div class="more__infos">
            <p>0 Topics créés</p>
            <p>0 Messages envoyés</p>
            <a>Mes amis</a>
        </div>
    </div>
</main>

<script src="/public/js/profile.js"></script>
</body>
</html>
