<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topic</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/topic.css">
</head>

<body>

    <%- include('header.ejs') %>

        <main class="container">
            <div class="topic__information">
                <h1>Topic</h1>
                <div class="topic__input">
                    <label for="topic__title">Title</label>
                    <input type="text" id="topic__title" name="topic__title" placeholder="Titre du topic" required>
                </div>
                <div class="topic__input">
                    <label for="topic__description">Description</label>
                    <input type="text" id="topic__description" name="topic__description" placeholder="Description"
                        required>
                </div>
                <div class="topic__input">
                    <select name="topic__category" id="topic__category"></select>
                </div>
                <button id="topic__btn">send</button>
                <p id="error__message"></p>
            </div>
        </main>

        <script src="/public/js/topic.js"></script>
</body>

</html>