<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Forum</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/topic.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

<%- include('header.ejs') %>

<main class="container">
    <div class="topic__container">
        <div class="topic__header">
        </div>
        <div class="topic__infos">
        </div>
    </div>
    <div class="new__comment">
        <textarea name="content" id="message_content" cols="30" rows="5" placeholder="Votre commentaire"></textarea>
        <button id="post_message" type="submit">Envoyer</button>
    </div>
    <div class="comments__container"></div>
</main>

</body>

<script src="/public/js/topic.js"></script>

</html>