.page__container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    overflow: hidden;
    /* Empêche le défilement de la page entière */
}

.left__page__content {
    flex: 1;
    text-align: left;
    background-color: #222230;
    height: 90vh;
    overflow-y: auto;
    /* Défilement vertical si le contenu dépasse */
}

.categories-selector {
    display: flex;
    flex-direction: row;
    margin: 3rem 0 0 1rem;
    color: white;
    font-family: "Roboto Light", sans-serif;
}

.categories-selector h2 {
    font-size: 1rem;
}

.categories-selector i {
    cursor: pointer;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.categories_list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.categories_list a {
    font-family: "Roboto Light", sans-serif;
    color: white;
    padding: 1rem;
    text-align: center;
}

.categories_list a:hover {
    cursor: pointer;
    background-color: #191924;
}

.limit__span {
    display: block;
    width: 60%;
    height: 1px;
    background-color: white;
    margin-left: 20%;
}

.center__page__content {
    flex: 3;
    text-align: center;
    background-color: #707099;
    overflow: hidden;
    /* Empêche le défilement de cette partie */
}

.posts__selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 1rem;
}

.posts__selection h2 {
    cursor: pointer;
    color: white;
    font-family: "Roboto Light", sans-serif;
    font-size: 1rem;
}

.selected__posts {
    opacity: 1;
}

.not_selected__posts {
    opacity: 0.5;
}

.right__page__content {
    position: relative;
    flex: 1;
    text-align: right;
    background-color: #222230;
    height: 90vh;
    overflow-y: auto;
    /* Défilement vertical si le contenu dépasse */
}

.communities-selector {
    display: flex;
    flex-direction: row;
    margin: 3rem 0 0 3rem;
    color: white;
    font-family: "Roboto Light", sans-serif;
}

.communities-selector h2 {
    font-size: 1rem;
}

.communities_list {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.community__display {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    gap: 1rem;
    align-items: center;
}

.community_icon {
    height: 2rem;
    width: auto;
}

.community_title {
    color: white;
    font-family: "Roboto Light", sans-serif;
}

.new__post__button {
    position: absolute;
    bottom: 5%;
    right: 20%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    font-family: "Roboto Light", sans-serif;
    margin-right: 2rem;
    background-color: #707099;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

.new__post__button:hover {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    background-color: #222230;
}

.crypto__price {
    margin-top: 3rem;
    margin-bottom: 2rem;
    overflow: hidden;
    padding-right: 1rem;
}

.crypto-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0 1rem;
    color: white;
}

.crypto-item:hover {
    cursor: pointer;
    background-color: #191924;
}

.crypto__img {
    height: 2rem;
    width: auto;
}

.button__div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}

#toggleButton {
    background-color: #707099;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;

}



@media screen and (max-width: 768px) {
    .page__container {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        height: 150vh;
        overflow: hidden;
    }

    .left__page__content {
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 10vh;

    }

    .center__page__content {
        position: relative;
        min-height: 60vh;
        text-align: center;
        background-color: #707099;
        overflow: hidden;
        height: auto;
        flex: auto;
    }

    .new__post__button {
        position: absolute;
        bottom: 5%;
        right: 2%;
    }


    .categories-selector {
        margin: 2rem 0 0 1rem;
    }
}