.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: #707099;
    align-items: center;
    width: 100%;
}

.title {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
}


/* L'utilisateur n'a pas de conversation */

.no__conversation {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    opacity: 0.5;
    margin-bottom: 2rem;
}

.friends_container {
    box-shadow: #382E60 10px 10px 10px;
    background-color: white;
    border-radius: 20px;
    width: 30%;
}

.friends_container h1 {
    font-size: 1.5rem;
    color: #382E60;
    text-align: center;
    margin-top: 20px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
}

.friends_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.friend {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 5%;
    background-color: white;
    cursor: pointer;
}

.friend img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.friend p {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-size: 1rem;
    color: black;
}

/* L'utilisateur a des conversations */

.conversations__display {
    display: flex;
    width: 100%;
    height: 100%;
}

.conversations__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #707099;
}

.conversation__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
}

.selected_conversation {
    background-color: #382E60;
    color: white;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
}

.conversation {
    border-radius: 20px;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
    cursor: pointer;
    transition: 0.5s;
}

.selected_conversation img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.conversation img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.selected_conversation p {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-size: 1rem;
    margin: 10px;
    color: white;
}

.conversation p {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-size: 1rem;
    margin: 10px;
    color:black;
}

.conversations__title {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.select_conv {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #382E60;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 36%;
    opacity: 0.5;
}


/* Conversation */

.messages_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: white;
    border-radius: 20px 0 0 20px;
}

.conversation_title {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.conversation_title img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 1rem;
}

.conversation_title h2 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 5rem;
    color: black;
    margin-top: 1rem;
}

.send_message {
    position: absolute;
    bottom: 3rem;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.message_input {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 4rem;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #382E60;
    padding: 0 1rem;
    margin-right: 1rem;
}

#send_message {
    font-size: 3rem;
    color: #382E60;
    cursor: pointer;
}

.no_message {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #382E60;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 30%;
    margin-left: 30%;
    opacity: 0.5;
}

.messages_display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 75%;
    overflow-y: scroll;
}

.receiver_message {
    font-family: "Comfortaa", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-radius: 20px 20px 20px 0;
    margin: 1rem;
    background-color: #382E60;
    color: white;
    align-self: flex-start;
}

.sender_message {
    font-family: "Comfortaa", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-radius: 20px 20px 0 20px;
    margin: 1rem;
    background-color: #4CAF50;
    color: white;
    align-self: flex-end;
}

.receiver_message img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.sender_message img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}